/* Estilo do formulário */
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #007bff;
}

form {
  margin-top: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.product-info-container,
.product-list-container,
.grid-container {
  flex: 1;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ced4da;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

/* Adicionando um espaçamento entre o botão e o campo Quantidade */
.product-info-container .form-group button,
.product-list-container .form-group button {
  margin-top: 20px;
}
