<div class="container">
  <h2>Cadastro de Pedido</h2>

  <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">

    <!-- Data -->
    <div class="form-group" class="row">
      <div class="col">
        <label for="date">Data:</label>
        <input type="date" id="date" formControlName="date" class="form-control">
      </div>

      <!-- Funcionário -->
      <div class="col">
        <label for="employee">Funcionário:</label>
        <select id="employee" formControlName="employee_id" class="form-control">
          <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
        </select>
      </div>

      <!-- Mesa -->
      <div class="col">
        <label for="desk">Mesa:</label>
        <select id="desk" formControlName="desk_id" class="form-control">
          <option *ngFor="let desk of desks" [value]="desk.id">Mesa {{ desk.id }}</option>
        </select>
      </div>
    </div>
    <!-- <div formArrayName="selectedProducts">
      <div *ngFor="let ctrlGroup of selectedProducts.controls; let i = index" [formGroupName]="i">
        <select formControlName="productId">
              <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
          </select>
          <input type="number" placeholder="Quantidade" formControlName="quantity">
      </div>
    </div> -->
    <!-- Produtos e Quantidades -->
    <div formArrayName="selectedProducts" class="row">
      <div class="col">
        <div *ngFor="let ctrlGroup of selectedProducts.controls; let i = index" [formGroupName]="i">
        <label for="productId">Produto:</label>
        <select id="productId" formControlName="productId" class="form-control">
          <option *ngFor="let product of products" [value]="product.id">
            {{ product.name }}
          </option>
        </select>
      </div>
      </div>
      <div class="col">
        <label for="total">Preço:</label>
        <input type="number" id="total" placeholder="Preço" formControlName="total" class="form-control">
      </div>
      <div class="col">
        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" placeholder="Quantidade" formControlName="quantity" class="form-control">
      </div>
    </div>

    <!-- Total -->
    <div class="form-group">
      <label for="total">Total:</label>
      <input type="number" id="total" formControlName="total" class="form-control">
    </div>

    <!-- Observação -->
    <div class="form-group">
      <label for="observation">Observações:</label>
      <textarea id="observation" formControlName="observation" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Pedido</button>

  </form>
</div>
