<div class="container">
  <h2>Cadastro de Pedido</h2>

  <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">

    <div class="form-group" class="row">
      <div class="col">
        <label for="date">Data:</label>
        <input type="date" id="date" formControlName="date" class="form-control" readonly
          style="background-color: rgb(240, 240, 240);">
      </div>

      <div class="col">
        <label for="employee">Funcionário:</label>
        <select id="employee" formControlName="employee_id" class="form-control">
          <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
        </select>
      </div>

      <div class="col">
        <label for="desk">Mesa:</label>
        <select id="desk" formControlName="desk_id" class="form-control">
          <option *ngFor="let desk of desks" [value]="desk.id">Mesa {{ desk.id }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="total">Total:</label>
        <input type="number" placeholder="0" id="total" formControlName="total" class="form-control" readonly
          style="background-color: rgb(240, 240, 240);">
      </div>

    </div>

    <div class="form-group">
      <label for="observation">Observações:</label>
      <textarea id="observation" formControlName="observation" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Pedido</button>


    <div class="product-info-container">
      <div class="form-group" class="row">
        <div class="col">
          <label for="productId">Produto:</label>
          <select id="productId" formControlName="productId" class="form-control" (change)="updateProductTotal()">
            <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
          </select>
        </div>
        <div class="col">
          <label for="quantity">Quantidade:</label>
          <input type="number" id="quantity" placeholder="0" formControlName="quantity" class="form-control">
        </div>

        <div class="col">
          <label for="productTotal">Preço:</label>
          <input type="number" id="productTotal" placeholder="0" formControlName="productTotal" class="form-control"
            readonly style="background-color: rgb(240, 240, 240);">
        </div>

        <div class="btn-add-product">
          <button type="button" (click)="adicionarProduto()">Adicionar Produto</button>
        </div>

      </div>
    </div>

    <div class="grid-container" *ngIf="produtosTemporarios.length > 0">
      <h3>Produtos Adicionados:</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtosTemporarios">
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.preco * produto.quantidade }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </form>

