<app-menu></app-menu>
<app-add-employee></app-add-employee>
<div class="table-container">
  <h2>Controle de Funcionários</h2>
  <p-table [value]="employees" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Manager</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.manager ? 'Gerente' : '' }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <!-- <p-button (click)="editDesk(desk)">Editar</p-button> -->
          <p-button (click)="deleteEmployee(employee)">
            <i class="pi pi-trash"></i> <!-- Ícone de lixo -->
          </p-button>

        </td>
      </tr>

    </ng-template>
  </p-table>
</div>
