<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-add-employee></app-add-employee>
    </div>
    <div class="col-6">
      <div class="table-container"><p-dialog header="Editar Funcionário" [(visible)]="visible"
          [style]="{'max-width': '50vw', 'width': 'auto' }">
          <form class="dialog-form">
            <div class="form-row">
              <div class="form-field">
                <label for="editName">Nome:</label>
                <input id="editName" type="text" [(ngModel)]="selectedEmployee.name" name="editName"
                  class="form-control">
              </div>


            </div>


            <div class="form-row">
              <div class="form-field">
                <label for="editEmail">E-mail:</label>
                <input id="editEmail" type="email" [(ngModel)]="selectedEmployee.email" name="editEmail"
                  class="form-control">
              </div>
            </div>


            <div class="form-row">
              <div class="form-field" style="margin-top: 10px;">
                <label for="editManager" style="display: flex; align-items: center;">Gerente:
                  <input id="editManager" type="checkbox" [(ngModel)]="selectedEmployee.manager" name="editManager"
                    class="form-control">
                </label>
              </div>

              <div class="form-field" style="margin-left: auto;">
                <p-button (click)="saveChanges()">Salvar</p-button>
              </div>
            </div>
          </form>
        </p-dialog>
        <h2 style="color: white;">Controle de Funcionários</h2>
        <p-table [value]="employees" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Manager</th>
              <th>Email</th>
              <th>Ações</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-employee>
            <tr>
              <td>{{ employee.name }}</td>
              <td>{{ employee.manager ? 'Gerente' : '' }}</td>
              <td>{{ employee.email }}</td>
              <td>
                <p-button (click)="openEditDialog(employee)">
                  <i class="pi pi-pencil"></i>
                </p-button>

                <p-button (click)="deleteEmployee(employee)">
                  <i class="pi pi-trash"></i>
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
