.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.table-container p-table p-button {
  margin-left: 40px; /* Adicione o espaçamento horizontal desejado entre os botões */
}

h2 {
  margin-bottom: 20px; /* Espaço entre o título e a tabela */
}

p-table {
  width: 100%;
  max-width: 50rem;
  border-collapse: collapse;
}

p-table th, p-table td {
  border: 1px solid #bdbdbd; /* Cor da borda azul */
  padding: 8px;
  text-align: left;
}

p-table tr {
  background-color: #ffffff; /* Fundo branco */
}

p-table th {
  background-color: #2d76c4; /* Fundo azul para cabeçalho */
  color: white;
}



.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px; /* Ajuste conforme necessário */
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

p-button {
  margin-left: 20px;
}

/* .form-field {
  display: flex;
  align-items: center;
}

.form-control[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  border: 2px solid #4caf50;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.form-control[type="checkbox"]::before {
  content: '\2713';
  font-size: 16px;
  color: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.form-control[type="checkbox"]:checked::before {
  opacity: 1;
}


label[for="editManager"] {
  font-size: 16px;
  color: #333;
}
 */
