<div class="row">
  <div class="col-md-3">
    <div class="p-card dashboard-container1">
      <h1>Total de Pedidos: </h1>
      <h1>{{ totalPedidos }}</h1>
    </div>
  </div>
  <div class="col-md-3">
    <div class="p-card dashboard-container2">
      <h1>Total de Produtos: </h1>
      <h1>{{ totalProdutos }}</h1>
    </div>
  </div>
  <div class="col-md-3">
    <div class="p-card dashboard-container3">
      <h1>Total de Funcionários: </h1>
      <h1>{{ totalFuncionarios }}</h1>
    </div>
  </div>
</div>
