<div class="row">
  <div class="col-md-3">
    <div class="p-card dashboard-container1">
      <h2>Total de Pedidos: </h2>
      <h2>{{ totalPedidos }}</h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="p-card dashboard-container2">
      <h2>Total de Produtos: </h2>
      <h2>{{ totalProdutos }}</h2>
    </div>
  </div>
  <div class="col-md-3">
    <div class="p-card dashboard-container3">
      <h2>Total de Funcionários: </h2>
      <h2>{{ totalFuncionarios }}</h2>
    </div>
  </div>
</div>
