<div class="container">
  <h2>Cadastro de Produto</h2>
  <form [formGroup]="productForm" (ngSubmit)="salvarProduto()">
    <div class="p-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" formControlName="name" pInputText required>
    </div>
    <div class="p-field">
      <label for="description">Descrição</label>
      <input type="text" id="description" name="description" formControlName="description" pInputText required>
    </div>
    <div class="p-field">
      <label for="total">Preço</label>
      <input type="number" id="total" name="total" formControlName="total" pInputNumber required>
    </div>
    <div class="p-field">
      <label for="estoque">Em Estoque</label>
      <input type="checkbox" id="estoque" name="estoque" formControlName="estoque">
    </div>
    <div class="p-field">
      <label for="qtd_items">Quantidade</label>
      <input type="number" id="qtd_items" name="qtd_items" formControlName="qtd_items" pInputNumber required>
    </div>
    <button type="submit" pButton label="Cadastrar"></button>
  </form>
</div>
