.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #1c3f73; /* Fundo azul escuro */
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff; /* Cor do texto branco */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.p-field {
  margin-bottom: 20px;
  flex-basis: calc(33.33% - 10px);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff; /* Cor do texto branco */
}

input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #fff; /* Fundo branco para campos de entrada e botões */
  color: #333; /* Cor do texto escuro */
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}
