<div class="center-card">
<p-card header="Cadastro de Funcionário" class="p-card">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <label for="name">Nome:</label>
      <p-inputText id="name" formControlName="name"></p-inputText>
    </div>

    <div class="p-fluid">
      <label for="email">Email:</label>
      <p-inputText id="email" formControlName="email"></p-inputText>
    </div>

    <div class="p-fluid">
      <label for="password">Senha:</label>
      <p-password id="password" formControlName="password"></p-password>
    </div>

    <button type="submit" label="Cadastrar" class="p-button" [disabled]="employeeForm.invalid"></button>
  </form>
</p-card>
</div>
