<p-card header="Login" [style]="{ width: '360px' }" class="center-card">

  <form [formGroup]="loginForm" autocomplete="off">
    <div class="p-field">
      <label for="email" class="custom-label">Email:</label>
      <input formControlName="email" type="email" id="email" name="email" autocomplete="off" class="custom-input">
    </div>
    <div class="p-field">
      <label for="password" class="custom-label">Senha:</label>
      <input formControlName="password" type="password" id="password" name="password" autocomplete="off"
        class="custom-input">
    </div>
    <div class="error-message">
      <p-messages [value]="msgs"></p-messages>
    </div>
    <button pButton type="button" (click)="onLogin()" label="Login" class="p-button"
    [disabled]="loginForm.invalid"></button>
    <hr>
  </form>

  <p>
    Não tem uma conta? <a [routerLink]="['/employee']">Registrar Usuário</a>
  </p>
</p-card>
