<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">

      <app-add-pedido (pedidoAdded)="onPedidoAdded()"></app-add-pedido>
    </div>
    <div class="col-5">
      <div class="table-container">
        <h2 style="color: white;">Controle de Pedidos</h2>
        <p-table [value]="pedidos" [rows]="10">
          <ng-template pTemplate="header">
            <tr>
              <th>Data</th>
              <th>Funcionário</th>
              <th>Mesa</th>
              <th>Total</th>
              <th>Observações</th>
              <th>Produtos</th>
              <th>Status</th>
              <th>Ações</th>
              <th>Finalizar pedido</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-pedido>
            <tr>
              <td>{{ formatarData(pedido.date) }}</td>
              <td>{{ getEmployeeName(pedido.employee_id) }}</td>
              <td>{{ pedido.desk_id }}</td>
              <td>{{ pedido.total }}</td>
              <td>{{ pedido.observation }}</td>
              <td>

                <ul>
                  <li *ngFor="let produto of pedido.products">
                    {{ produto.id_product.name }} ({{ produto.qtd_sold }})
                  </li>
                </ul>

              </td>
              <td>{{ pedido.status }}</td>
              <td>
                <p-button (click)="deletePedido(pedido)">
                  <i class="pi pi-trash"></i>
                </p-button>
              </td>
              <td>
                <div *ngIf="pedido.status !== 'Finalizado'">
                  <p-button icon="pi pi-check" class="custom-button" (click)="atualizarStatus(pedido)">
                  </p-button>
                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
