<div class="container">
  <h2>Cadastro de Mesa</h2>
  <form [formGroup]="deskForm" (ngSubmit)="cadastrarMesa()">
    <div class="p-field">
      <label for="capacity">Capacidade</label>
      <input type="number" id="capacity" name="capacity" formControlName="capacity" pInputText required>
    </div>
    <div class="p-field">
      <label for="nro_desk">Número da mesa</label>
      <input type="number" id="nro_desk" name="nro_desk" formControlName="nro_desk" pInputText required>
      <small *ngIf="deskForm.get('nro_desk')?.hasError('duplicateNumber')" class="p-error">Número de mesa já existe.</small>
    </div>


    <button type="submit" pButton label="Cadastrar"></button>
  </form>
</div>
