<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-add-product></app-add-product>
    </div>
    <div class="col-6">
      <div class="table-container">
        <h2 style="color: white;">Controle de Produtos</h2>

        <p-dialog header="Editar Produto" [(visible)]="visible" [style]="{'max-width': '50vw', 'width': 'auto' }">
          <form class="dialog-form">
            <div class="form-row">
              <div class="form-field">
                <label for="editName">Nome:</label>
                <input id="editName" type="text" [(ngModel)]="selectedProduct.name" name="editName"
                  class="form-control">
              </div>

              <div class="form-field">
                <label for="editDescription">Descrição:</label>
                <input id="editDescription" type="text" [(ngModel)]="selectedProduct.description" name="editDescription"
                  class="form-control">
              </div>
            </div>

            <div class="form-row">
              <div class="form-field">
                <label for="editTotal">Total:</label>
                <input id="editTotal" type="number" [(ngModel)]="selectedProduct.total" name="editTotal"
                  class="form-control">
              </div>
            </div>

            <div class="form-actions">
              <p-button (click)="saveChanges()">Salvar</p-button>
            </div>
          </form>
        </p-dialog>

        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Descrição</th>
              <th>Preço</th>
              <th>Qtd Disponível</th>
              <th>Estoque</th>
              <th>Ações</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>R$ {{ product.total }}</td>
              <td>{{ product.qtd_items === 0 ? '-' : product.qtd_items }}</td>
              <td>{{ getEstoqueStatus(product.estoque) }}</td>
              <td>
                <p-button (click)="openEditDialog(product)">
                  <i class="pi pi-pencil"></i>
                </p-button>

                <p-button (click)="deleteProduct(product)">
                  <i class="pi pi-trash"></i>
                </p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
