.logo-container {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.logo-text {
  font-size: 36px;
  color: rgb(78, 78, 78);
  text-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
