<p-card header="Registrar" [style]="{ width: '360px' }" class="center-card">

  <form [formGroup]="employeeForm">
    <div class="p-field">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" formControlName="name" pInputText required>
    </div>
    <div class="p-field">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" formControlName="email" pInputText required>
    </div>
    <div class="p-field">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" formControlName="password" pInputText required>
    </div>
    <div class="p-field">
      <p-checkbox formControlName="manager" value="manager" inputId="manager"></p-checkbox>
      <label for="manager"> Gerente</label>
    </div>
    <button pButton type="submit" (click)="onRegister()" label="Registrar" class="p-button"></button>
    <hr>
  </form>
  <p>
    Deseja logar? <a [routerLink]="['/login']">Login</a>
  </p>

</p-card>
